{% extends "layout.html" %}

{% block title %} {{course.title}}{%endblock%}

{% block content %}
<article>
  <h2>{{course.title}}</h2>
  <h3 id="description">Course description</h3>
  <p>{{course.description}}<p>
</article>


    <br>
    <table>
      <tr>
        <th class="panel-heading">Source</th>
        <th class="panel-heading">Course status</th>
      </tr>
      <tr  class="panel">
        <td>{{course.source}}</td>
        <td>{{course.status}}</td>
      </tr>
    </table>


{% endblock %}
