{% extends "layout.html" %}

{% block title %} {{course.title}}{%endblock%}

{% block content %}
<article>
  <h2>{{topic.title}} Courses</h2>
  {{ topic.description }}
</article>

  <section>
    {% for course in topic.course_set.all %}
      <div class="showCourseDetail"><h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        <a> {{course.title}}</a></h3>
          <div class="courseDetailBox">
            <p>{{course.description}}<p>
              <table>
                <tr>
                  <th class="panel-heading">Source</th>
                  <th class="panel-heading">Course status</th>
                </tr>
                <tr  class="panel">
                  <td>{{course.source}}</td>
                  <td>{{course.status}}</td>
                </tr>
              </table>

        </div>
        </div>

    {% endfor %}

  </section>

{% endblock %}
