{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>About this site</h1>
  <p>This website is a portfolio project that is writtern in Python and uses the Django framework. I am also using this website to keep track of my online learning related to coding.</p>
    <h1>About Me</h1>
      <p>My name is Gloria and the road to being a developer was...let's say... interesting. I have traveled a good deal working with nonprofits, in fact, here are some of the places I have been--</p>
      <div id="my-places"> </div>
      <br><p>I turned to development last year after I took a class on Web Development at Miami Dade College and that in turn led me to LaunchCode where I fell in love with coding!</p>
{% endblock %}
